.panel {
  position: relative;
  background: inherit;
  background-attachment: fixed;

  &__material {
    background: inherit;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    z-index: -1;
  }
}
